section {
    margin-top: 150px;
    font-size: 22px;
}

.container1 {
    display: flex;
    margin-top: -50px;
}

.container1 div {
    padding: 20px;
    width: 50%;
    justify-content: space-between;
}

.image {
    padding: 10px 50px 5px 80px;
    margin-left: 30px;
    border-radius: 50%;
    width: 70%;
    height: 50%;
    box-shadow: 5px 8px 6px rgb(36, 36, 75);
    text-shadow: 9px 9px 6px darkgrey;
}

section h1 {
    font-size: 60px;
    color: rgb(36, 36, 75);
}

i {
    margin-right: 30px;
    color: rgb(36, 36, 75);
}

p {
    text-align: justify;
    margin-bottom: 30px;
}

.welcome {
    font-weight: bold;
    color: rgb(36, 36, 75);
}

@media (max-width: 768px) {
    .image {
        display: none;
    }

    .paragraph {
        margin-top: 50px;
        width: 100%;
    }

    .container1 div {
        padding: 20px;
    }
}

/* @media (max-width: 1024px) {
    .container1 {
        display: flex;
        margin-top: 100px;
    }

    .container1 div {
        width: 50%;
        justify-content: space-between;
    }

    .image {
        padding: 20px 250px 50px 50px;
        border-radius: 50%;
        width: 30%;
        height: 10%;
        box-shadow: 5px 8px 6px rgb(36, 36, 75);
        text-shadow: 9px 9px 6px darkgrey;
    }
} */

label {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.form-control {
    width: 95%;
    height: 1.5em;
    padding: 0.5rem;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #12263f;
    background-color: #fff;
    border: 1px solid #d2ddec;
    border-radius: 5px;
}

.card {
    display: block;
    margin-bottom: 1.5rem;
    border-color: #edf2f9;
    width: 30%;
    margin-top: -50px;
    margin-left: 30%;
    background-color: rgb(241, 241, 241);
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0.2rem 0.3rem #7294be;
}

.formHead {
    text-align: center;
    font-size: 40px;
}

.submit {
    color: white;
    width: 99%;
    font-size: 18px;
    margin-top: 10px;
    margin-left: -2px;
    margin-right: 3px;
}

.small {
    font-size: 15px;
    text-align: center;
    color: grey;
    margin-top: 10px;
    margin-bottom: -10px;
}

.small a {
    text-decoration: none;
    color: rgb(36, 36, 75);
}

.small a:hover {
    font-weight: bolder;
}